/* browser css reset */
// added this for light/dark theme
// @use "../FRONTEND/assets/SCSS/themes.scss";
@use "../FRONTEND/assets/SCSS/reset";
@use "../FRONTEND/assets/SCSS/desktop";

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

/* font */
@use "./assets/SCSS/font";

/* mobile */
// @import "./assets/CSS/mobile";

/* tablet */
// @media only screen and (min-width: 768px) {
//   @import "./assets/CSS/tablet";
// }
// @media only screen and (min-width: 600px) and (max-width: 1280px) {
//   @import "./assets/CSS/tablet.scss";
// }


// /* desktop */
// @media only screen and (min-width: 1200px) {
//   @use "../FRONTEND/assets/CSS/desktop.scss";
// }