/* assets/SCSS/themes.scss */
// Define SCSS variables for light 
// :root {
//   --bg: #ffffff;
//   --text: #1f1f1f;          // replaces rgba(31,31,31,0.917)
//   --accent: #007bff;        // replaces rgb(0,123,255)
//   --secondary-bg: rgba(78,88,109,0.212);
//   --input-bg: #e5e7eb;
//   --button-bg: rgb(34,139,230);
//   --button-hover: rgb(146,214,214);
// }

// // Define SCSS variables for dark mode
// [data-theme="dark"] {
//   --bg: #0f172a;
//   --text: #e5e7eb;
//   --accent: #818cf8;
//   --secondary-bg: rgba(255,255,255,0.1);
//   --input-bg: #1f2937;     // darker input background
//   --button-bg: #6366f1;
//   --button-hover: #818cf8;
// }



