.tiles-big-body{
   flex-direction: row; /* Stack the image and title vertically */


.tiles-body {
    display: flex;
    flex-direction: column; /* Stack the image and title vertically */
    align-items: center;     /* Center the image and title horizontally */
    text-align: center;      /* Center the text */
  }
  
  .projectImage {
    box-shadow: 0 0 15px 5px rgb(0, 255, 255); 
    max-width: 100%;  /* Ensures the image scales correctly */
    height:400px;     /* Maintains the aspect ratio */
  }
  
  .projectTitle {
    font-family: "Roboto Condensed", serif;
    font-size: 40px;
    color:rgb(14, 15, 15);
    margin-top:-80px;
    // margin-top: -10px;  // Adjust the space above the title using negative margin
    margin: 0;   /* Removes default margin from h1 */
  }
}
  