.landing-body{
background-color: rgb(255, 255, 255);
// background-color: rgba(128, 128, 128, 0.1);
width:100%;
height:100%;
font-family: "Roboto Condensed", serif;


// orbit name
.about-container {
    position: relative;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 200px;
  }
  
  .about-title {
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    z-index: 5; 
    color:rgba(31, 31, 31, 0.917);
    margin-top:-130px;
  }
  .about-sub-title{
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 300px;
    z-index: 10; 
    color:rgba(31, 31, 31, 0.917);
    margin-top: 2%;

  }
  
  .orbit {
    position: relative;
    width: 10px;
    height: 0px;
    margin-top: 18%;
//    margin-left: 00px;

  }
  
  .orbit-icon {
    position: absolute;
    font-size: 50px;
    top: 0;
    left: 0;
    transition: transform 0.8s linear, opacity 0.1s linear;
    padding:5px;
    color:rgb(0, 123, 255);
  }

#Vision{
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgba(78, 88, 109, 0.212);
    border-radius: 10px;
    padding:30px 30px 40px 30px;
}

// ABOUT ME
.vision-title{
    font-size:35px;
    color:rgb(73 80 87 / var(--tw-text-opacity, 1));    
    text-align: left; 
    line-height: 1.6;  
    margin: 5px auto; 
    padding: 0 10%;   
}

.vision-text {
    text-align: left;  
    color: rgb(73 80 87 / var(--tw-text-opacity, 1));    
    font-size: 20px;
    margin: 15px auto; 
    padding: 0 10%;   
}

.connect-with-me-title{
    color:rgba(31, 31, 31, 0.917);
    font-size:50px;
    margin-top: 100px;
    margin-bottom:70px;
    width: 100%;
    display: flex;
    justify-content: center;
  
}

// CONNECT LINKS holder
.connect-list-group{
    width: 100%; 
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}


.connect-links{
    color:rgb(10, 10, 10);
    font-size:20px;
    margin-top: 20px;
    margin-bottom:20px; 
    font-style: none;
    align-content: center;
}

a {
    color:rgb(32, 32, 34);
text-decoration: none; 
}

.link-sub-icon{
    font-size:50px;
    margin-top: -50px;
    margin-bottom:-30px; 
    font-style: none;
    padding:30px;
    &:hover {
        background-color: rgb(146, 214, 214);
        }
}

// certified section
.certified-1 {
    background-color: rgba(78, 88, 109, 0.212);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 60px 0; 
  
    .c1-title {
      font-size: 50px;
      color: rgb(73 80 87 / var(--tw-text-opacity, 1));
      text-align: center;
      margin-bottom: 40px;
    }
  
    .cert-img {
      display: block;
      width: 400px;
      height: 300px;
      object-fit: cover;
      margin-bottom: 50px;
    }
  }

// CONTACT FORM
#ContactMe {
    margin-top:20px;
    text-align: center; 
    margin-left: 25%;
    margin-right:25%;

    .input-label {
        display: block;
        font-size: 16px;
        font-weight: 500;
        color: #1f1f1f;
        margin-bottom: 8px;
        text-align: left;
        width: 100%;
      }

.form-title{
    color:rgba(31, 31, 31, 0.917);
    font-size:50px;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 120px;
}

.contact-form{
    display: flex;
    flex-direction: column;
    // gap: px;
    align-items: center;
    // new code
    width: 100%;  
    margin: auto; 

}

// new code
.inputs-container {
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-bottom:20px;
    font-family: "Roboto Condensed", serif;

}


// new code
.inputs_firstName,
.inputs_email {
    padding: 10px;
    font-size: 15px;
    color:rgb(73 80 87 / var(--tw-text-opacity, 1));    
    background-color: #e5e7eb;
    border: none;
    width: 100%; 
    max-width: 1900px;
    border-radius: 5px;
    height:40px;
    // margin-top: 0px;
    margin-bottom: 30px;
    font-family: "Roboto Condensed", serif;

}

.inputs_textarea {
    padding: 10px;
    font-size: 15px;
    color: rgb(73 80 87 / var(--tw-text-opacity, 1));
    background-color: #e5e7eb;
    border: none;
    width: 100%;
    // max-width: 1900px;
    border-radius: 5px;
    margin-bottom: 30px;
    resize: vertical; // or "none" if you don’t want resizing
    min-height: 100px; // optional: gives better UX
    font-family: "Roboto Condensed", serif;


  }
  

.button-container {
    width: 100%; // Match the width of other inputs
    max-width: 1900px;
    display: flex;
    justify-content: flex-start; // Align to the left
    margin-bottom: 100px;
  }
  

.submit-button{
        background-color: rgb(34 139 230 / var(--tw-bg-opacity, 1)); 
        color: white;
        padding: 20px 35px;
        border: none;
        font-size: 20px;
        height: 50px;
        cursor: pointer;
        border-radius: 5px;
        font-family: 'Trebuchet MS', sans-serif;
        width: 30%; // Or use a fixed width like 200px for consistency
        margin-bottom: 100px;
      
    &:hover {
    background-color: rgb(146, 214, 214);
    }

}
}
}
